

.hotels-table {
    width: 80%;
    margin: 20px auto 40px auto;
    border-collapse: collapse;
    color: #737ab1;
}
.hotels-table th {
    background-color: #c9a84c;
    color: black;
    padding: 12px 20px;
    text-align: center;
}
.hotels-table td {
    padding: 12px 20px;
    text-align: center;
    border-bottom: 1px solid rgba(201, 168, 76, 0.2);
    background-color: #162040;
}
.hotels-table tr:hover td {
    background-color: #1a2a50;
}


      
      .book-btn{
        background-color: #c9a84c;
        padding: 10px 20px;
        border-radius: 5px;
        color: black !important;
        font-weight: bold;
        display: inline-block; 
        width: fit-content;
        text-decoration: none;}
        
      .hero{
        height: 500px;
        background-image: url("hero-photo.jpg");
        background-size: cover;
        background-position: center;
        position: relative;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px;
      }

      .hero h2 {
       font-size: 48px;
       color: #c9a84c;
       margin: 0;
      }

      .hero p {
       font-size: 20px;
       margin: 5px 0;
         }  
     .filter {
       margin: -40px 60px 0 60px;
       position: relative;
       z-index: 5;
       border: 1px solid rgba(201, 168, 76, 0.3);
       border-radius: 12px;
       padding: 20px;
       display: flex;
       gap: 20px;
       color: white;
       background-color: #111827;
       justify-content: space-around;
       align-items: center;
       box-shadow: 0 10px 25px rgba(0,0,0,0.5); 
       transition: all 0.7s ease;
}
.filter:hover{
       transform: translateY(5px);
       box-shadow: 0 15px 10px rgba(255, 255, 255, 0.3); 
        


}
     
     .filter-item {
     display: flex;
     flex-direction: column;
     background-color: #111827;
     gap: 5px;
   }

    .filter-item label {
    font-size: 12px;
    color: #c9a84c;
    background-color: #111827;

    }

    .filter-item select {
    background-color: #111827;
    color: white;
    border: none;
    font-size: 14px;
    cursor: pointer;
  }
   .filter-item select:focus {
    outline: none; /* عشان لما تدوس عليه ميعملش برواز أبيض وحش */
}
.section-title {
    text-align: center;
    padding: 40px 0 20px 0;
    color: white;
}

.section-title p {
    color: #c9a84c;
    font-size: 13px;
    letter-spacing: 2px;
}

.section-title h2 {
    font-size: 36px;
}
.hotels-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap:20px ;
    padding: 50px;

}
.card{
    background-color: #162040; 
    color: white;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid rgba(156, 166, 181, 0.6);
    transition: all 0.4s ease-in-out;
}
.card:hover{
    transform: translateY(-5px);
    border-color: #ffffff;   
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
}

.filter-btn {
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: #c9a84c;
    border: 1px solid #c9a84c;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.filter-btn:hover {
    background-color: #c9a84c;
    color: black;
}
.card-img{
    height: 250px;
    background-image: url("card-1.png");
    background-size: cover;
    background-position: center;
}.card-img-2{
    height: 250px;
    background-image: url("card-2.png");
    background-size: cover;
    background-position: center;
}
.card-img-3{
    height: 250px;
    background-image: url("card-3.png");
    background-size: cover;
    background-position: center;
}
.card-img-4{
    height: 250px;
    background-image: url("card-4.png");
    background-size: cover;
    background-position: center;
}

.card-content{
    padding: 15px;
}
.card-content h3{
    color :#c9a84c;
    font-size: 18px;
    margin-bottom: 5px;
}
.card-content .location{
    font-size: 13px;
    color: #9aaccc;
    margin-bottom: 10px;
}
.card-content .price {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
    color: #ffffff;

}
.card-content .price span {
    font-size: 12px;
    font-weight: normal;
    color: #9aaccc; }

.view-btn {
    display: block;
    text-align: center;
    background-color: transparent;
    color: #c9a84c;
    border: 1px solid #c9a84c;
    padding: 8px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    transition: 0.3s;
}
.view-btn:hover {
    background-color: #c9a84c;
    color: black;
}
.offer{
    margin-right: 60px;
    margin-left: 60px;
    margin-bottom: 50px;
    display: flex;
    border:1px solid #c9a84c;
    background-image: url("offer-1.png");
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    height: 280px;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 20px;
    color: white;
    transition: all 0.9s ease;
}

.offer:hover{
    transform: scale(0.985);    
    box-shadow: 0 0 50px rgba(212, 151, 20, 0.531);
}

.offer-label {
    color: #c9a84c;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.offer-content h2 {
    font-size: 28px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    border-left: 3px solid #c9a84c; 
}

.offer-percent {
    color: #dba41b;
    font-size: 60px;
    font-weight: bold;
}

.offer-desc {
    font-size: 14px;
    color: #cccccc;
}

.features-bar{
    display: flex;
    border: 1px solid #c9a84c;
    border-radius: 8px;
    margin: 40px 60px;
    padding: 10px;
    color:white ;
    background-color: #121a32;
    justify-content: space-around;
    align-items: center;
}
.feature-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease; 
    flex: 1;
    gap: 8px;
    padding: 20px;
}
.feature-item:hover {
    background-color: rgba(201, 168, 76, 0.05); 
    transform: translateY(-5px); 
}
.feature-icon{
    font-size: 25px;
    color: #c9a84c !important;
}
.feature-title{
    color: #c9a84c;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 4px;
  }
.feature-desc{
    font-size: 12px;
    color: #cccccc;
}
.reviews-container{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr ;
    gap: 40px;
    padding: 20px 60px;
}

.review-card {
    background-color: #1a243d;
    padding: 30px;
    border-radius: 12px;
    border: 1px solid rgba(201, 168, 76, 0.2); 
    text-align: center;
    transition: all 0.3s ease;
}
.review-card:hover{
    transform: translateY(-10px);     
    border-color: #c9a84c;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
       
}
.review-text {
    color: #cccccc; 
    font-style: italic; 
    font-size: 15px;
    line-height: 1.6; 
    margin-bottom: 15px;
}

.reviewer-name {
    color: #ffffff;
    margin-bottom: 5px;
    font-weight: bold;
}

.review-stars {
    color: #c9a84c; 
    font-size: 14px;
}
footer {
    background-color: #0a0f1e;
    color: #9aaccc;
    text-align: center;
    padding: 30px;
    border-top: 1px solid rgba(201, 168, 76, 0.3);
    margin-top: 40px;
}

.footer-logo {
    color: #c9a84c;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-tagline {
    font-size: 13px;
    margin-bottom: 15px;
}

.footer-socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 22px;
    margin-bottom: 15px;
}

.footer-socials a {
    color: #c9a84c;
    transition: 0.3s;
}

.footer-socials a:hover {
    color: white;
}

.footer-copy {
    font-size: 12px;
}
@media (max-width: 992px) {
    .hotels-container {
        grid-template-columns: 1fr 1fr; /* كارتين جنب بعض في التابلت */
    }
}

@media (max-width: 600px) {
    .hotels-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
    .filter {
        flex-direction: column;
        margin: -20px 20px 0 20px;
        gap: 15px;
    }

    .navbar {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
        text-align: center;
    }

    .nav-links {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .book-btn {
        width: 100%;
        text-align: center;
    }
}